html, body, #outer {
  height: 100%;
  width: 100%;
  margin: 0;
}
#table {
  display: table;
}
.layer {
  display: table-row;
}
/* header ********************************/
#layer1 {
  height: 70px; /* check dependencies if you change */
}
#logo {
  height: 70px; /* should always be the same as height of layer1 */
  width: auto;
}
header {
  position: relative;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}
/* navbar ********************************/
#layer2 {
  height: 50px;
  width: 100%;
  background-color: #8B0000;
}
nav {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
#navbar {
  padding-left: 0; /* not sure why there was 40px left padding */
  margin: 0 0;
}
#navbar li {
  display: inline-block;
  width: 200px;
  height: 50px; /* check that it matches #layer2 height */
  list-style-type: none;
  float: left;
  text-align: center;
  line-height: 50px; /* check that it matches #layer2 height */
}
#navbar li a {
  display: block;
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
#navbar li:hover {
  background-color: #660000;
}
/* mainpage ******************************/
div#spacing {
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
}
/* content *******************************/
#layer3 img {
  position: relative;
  float: left;
  left: 0;
  width: 100%;
  height: auto;
}
#img1, #img2, #img3 {
  display: inline-block;
  position: relative;
  width: 50%;
}
#img1 {
  float: left;
}
#img2 {
  float: right;
}
#img3 {
  float: left;
}
footer {
  position: fixed;
  background-color: #EDEAB5;
  clear: both;
  text-align: right;
  padding-top: 0;
  height: auto;
  width: 80%;
  bottom: 0;
  padding-right: 10%;
  padding-left: 10%;
}
