/* #left-bar {
  display: block;
  position: relative;
  left: 0;
  margin-left: 0;
  height: 100%;
  width: 15%;
  overflow: scroll;
  float: left;
} */
#spacing {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  overflow: scroll;
}
img {
  position: relative;
  float: left;
  left: 0;
  width: 100%;
  height: auto;
}
#img1, #img2, #img3 {
  display: inline-block;
  position: relative;
  width: 30%;
}
#img1 {
  float: left;
}
#img2 {
  float: right;
}
#img3 {
  float: left;
}
footer {
  position: absolute;
  background-color: beige;
  clear: both;
  text-align: right;
  padding-top: 0;
  height: auto;
  width: 80%;
  bottom: 0;
  right: 10%;
  left: 10%;
}
