/* #left-bar {
  display: block;
  position: relative;
  left: 0;
  margin-left: 0;
  height: 100%;
  width: 15%;
  overflow: scroll;
  float: left;
} */
html, body, #outer {
  height: 100%;
  width: 100%;
  margin: 0;
}
#table {
  display: table;
}
.layer {
  display: table-row;
}
/* header ********************************/
#layer1 {
  height: 40px;
}
header {
  position: relative;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}
/* navbar ********************************/
#layer2 {
  height: 50px;
  width: 100%;
  background-color: maroon;
}
nav {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
#navbar {
  padding-left: 0; /* not sure why there was 40px left padding */
  margin: 0 0;
}
#navbar li {
  display: block;
  width: 200px;
  height: 50px; /* should always be same as #layer2 height */
  list-style-type: none;
  float: left;
}
#navbar li:hover {
  background-color: #12352d;
}
/* mainpage ******************************/
div#spacing {
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
}
/* content *******************************/
img {
  position: relative;
  float: left;
  left: 0;
  width: 100%;
  height: auto;
}
#img1, #img2, #img3 {
  display: inline-block;
  position: relative;
  width: 30%;
}
#img1 {
  float: left;
}
#img2 {
  float: right;
}
#img3 {
  float: left;
}
footer {
  position: fixed;
  background-color: beige;
  clear: both;
  text-align: right;
  padding-top: 0;
  height: auto;
  width: 80%;
  bottom: 0;
  padding-right: 10%;
  padding-left: 10%;
}
